
#main {
    background-color: aqua;
    color: black;
    text-align: center;
    padding: auto;
} */


body h1 {
    text-align: center;
}

#table1 {
    background-color: plum;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}