.col-2 {
    background-color: aqua;
    padding-top: 1%;
}

.col-4 {
    background-color: aqua;
    text-align: left;
    padding-top: 1%;
}

.form-inline {
    display: inline-block;
}

#row1 {
    text-align: center;
    /* padding: 100px; */
    font-weight: bold;
}

.col-xl-6 {
    background-color: plum;
    font-weight: bold;
    font-size: 1.5rem;
}

#main {
    background-color: black;
}

#title {
    background-color: pink;
    text-align: center;
    padding: 35px;
}

#makeClear {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

#graphTitle {
    color: antiquewhite;
    font-size: 1.5rem;
    text-align: center;
    background-color: black;
}

stop, start, task, client {
    align-content: center;
}

.textFields {
    text-align: center;
}

#table1 {
    border: 2px solid black;
}

#graphArea {
    background-color: black;
}
